body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;      /* stop pengulangan tile/background */
  background-position: cover; /* posisi di tengah */
  background-size: cover;   
  width: 100%;
  height: 100%;/* agar background sesuai layar */
}

#inv {
  position: relative;
  right: -400px;
  top: -20px;
}

#X {
  background-color: red;
  color: white;
  padding: 15px;
  font-size: 25px;
  border: none;
  border-radius: 15px;
}


#charImg {
  position: relative;
left: 10px;
right: 100px;
width: 100px;
  
}

